@model APPBASE.Models.TaskVM
@using APPBASE.Helpers

@{
    ViewBag.Title = "Delete Agenda";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/Layouts/_Layout_admin.cshtml";
}
@section includeBOTTOM {
    @Scripts.Render("~/bundles/JSInputMask")
}


@using (Html.BeginForm()) {
    Html.RenderPartial("_PartialConfirmDelete");

    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title"></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            @{Html.RenderPartial("~/Views/Task/Input/_Inputs.cshtml");}
        </div><!-- /.box-body -->
        <div class="box-footer">
            <div class="row">
                <div class="col-xs-12">
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div><!-- /.row -->
        </div><!-- /.box-footer -->
    </div><!-- /.box -->
}

<!-- Json data -->
@{Html.RenderPartial("~/Views/Task/Json/Json.cshtml");}
<!-- Template -->
@{Html.RenderPartial("~/Views/Task/Template/Template_view.cshtml");}

@section scripts {

<!-- Modal -->
@{Html.RenderPartial("_Events_view");}

}