@model IEnumerable<APPBASE.Models.TaskdVM>
@using APPBASE.Helpers
@using APPBASE.Svcapp

@{
    ViewBag.Title = "Logbook Tugas";
    Layout = "~/Views/Shared/Layouts/_Layout_approval.cshtml";
}

@{string vsClassBP_STS = "";}

<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title"></h3>
        <div class="box-tools">
            <div class="input-group">
                <input type="text" id="searchValue" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Cari Data"/>
                <div class="input-group-btn">
                    <button class="btn btn-flat btn-sm btn-info"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>

    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        @{Html.RenderPartial("Index3_detail");}
    </div><!-- /.box-body -->
    <div class="box-footer">
    </div>
</div><!-- /.box -->
        @if ((hlpConfig.SessionInfo.getAppRoleId() == 1) || (hlpConfig.SessionInfo.getAppRoleId() == 2))
        {
            <button type="button" onclick="window.location.href='@Url.Action("Create")'" class="btn btn-lg btn-warning btn-circle" style="height: 48px; width:48px;"><i class="fa fa-pencil"></i></button>
        }

@section scripts {

<script type="text/javascript">
    $(document).ready(function () {
        /*=========================================
        INITIALIZE
        =========================================*/
        doSearchAbleTable('#searchValue', '', '.SEARCHABLE_ROWS');

        /*=========================================
        EVENTS
        =========================================*/
    });   //End $(document).ready
</script>

}
