@model IEnumerable<APPBASE.Models.TaskdVM>
@using APPBASE.Helpers
@using APPBASE.Svcapp

<table id="tablex" class="table table-bordered table-hover">
    <thead>
        <tr class="bg-greenx">
            <th>Penerima Tugas</th>
            <th class="centerx">Pemberi Tugas</th>
            <th class="centerx">Project</th>
            <th class="centerx">Uraian Pekerjaan</th>
            <th class="centerx">Tgl. Mulai</th>
            <th class="centerx">Durasi</th>
            <th class="centerx">Tgl. Selesai</th>
            <th class="bg-yellowx centerx">Progress</th>
            <th class="bg-yellowx centerx">Tgl.Selesai</th>
            <th class="bg-yellowx centerx">Status</th>
            <th class="bg-yellowx centerx">Keterangan</th>
            <th class="centerx">Validasi</th>
            <th class="centerx">Keterangan</th>
        </tr>
    </thead>
    <tbody id="target">
        @if (Model == null) {
            <tr>
                <td align="center">@{Html.RenderPartial("_PartialEmpty");}</td>
            </tr>
        }

        @if (Model != null) {
            Html.RenderPartial("Index3_detail_item");
        }
    </tbody>
</table>
