@model APPBASE.Models.TaskdVM
@using APPBASE.Helpers

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<div class="row">
    <div class="col-sm-12 col-md-6">
        @{Html.RenderPartial("~/Views/Task/Details2_input/_Inputs_header1.cshtml");}
    </div>
    <div class="col-sm-12 col-md-6">
        @{Html.RenderPartial("~/Views/Task/Details2_input/_Inputs_header2.cshtml");}
    </div>
</div>

<hr />
@{Html.RenderPartial("~/Views/Task/Edit_progress/_Inputs_detail.cshtml");}
