<div class="row">
    <div class="col-sm-12 col-md-6">
        @{Html.RenderPartial("~/Views/Task/Details2_input/_Inputs_header1.cshtml");}
    </div>
    <div class="col-sm-12 col-md-6">
        @{Html.RenderPartial("~/Views/Task/Details2_input/_Inputs_header2.cshtml");}
    </div>
</div>

<hr />
@{Html.RenderPartial("~/Views/Task/Details2_input/_Inputs_detail.cshtml");}
