<script id="template" type="x-tmpl-mustache">
{{ #result_detail }}
    <tr>
        <td></td>
        <td>{{ ASSIGNEE_NAME }}</td>
        <td>{{ PROJECT_SHORTDESC }}</td>
        <td>{{ TASKD_PLANDESC }}</td>
        <td>{{ TASKD_PLANSTARTDT }}</td>
        <td>{{ TASKD_PLANDURATION }} Hari</td>
        <td>{{ TASKD_PLANENDDT }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>    
{{ /result_detail }}
</script>    
