
<script id="template" type="x-tmpl-mustache">
{{ #result_detail }}
    <tr>
        <td>
            <div class="btn-group-vertical">
                <input type="hidden" value="{{ ID }}" tag-id="ID" id="DETAIL[{{currentRow}}].ID" name="DETAIL[{{currentRow}}].ID" />
                <!-- Button -->
                <button type="button" value="{{ currentRow }}" class="btnEditRow btn btn-sm btn-flat btn-warning"><i class="fa fa-pencil"></i></button>
                <button type="button" value="{{ currentRow }}" class="btnDeleteRow btn btn-sm btn-flat btn-danger"><i class="fa fa-trash-o"></i></button>
            </div>
        </td>
        <td>{{ ASSIGNEE_NAME }}</td>
        <td>{{ PROJECT_SHORTDESC }}</td>
        <td>{{ TASKD_PLANDESC }}</td>
        <td>{{ TASKD_PLANSTARTDT }}</td>
        <td>{{ TASKD_PLANDURATION }} Hari</td>
        <td>{{ TASKD_PLANENDDT }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>    
{{ /result_detail }}
</script>    
