<!-- Confirm Data Not Found -->
<div class="alert alert-danger alert-dismissable">
    <i class="fa fa-warning"></i>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <b>Informasi!</b> Data Tidak ditemukan
</div>